---
{% if data.name is defined %}
name: {{ data.name }}
{% endif %}
{% if data.concurrency is defined %}
concurrency:
  {{ data.concurrency | to_nice_yaml | indent(2) }}
{% endif %}
{% if data.on is defined %}
{% if data.on == ['workflow_call'] %}
on: {{ data.on | string }}
{% else %}
on:
  {{ data.on | to_nice_yaml }}
{% endif %}
{% endif %}
{% for job_key, job_data in data.jobs.items() %}
jobs:
  {{ job_key }}:
    {% if job_data.uses is defined %}
    uses: {{ job_data.uses }}
    {% endif %}
    {% if job_data.with is defined %}
    with:
    {% endif %}
      {% if job_data.with.matrix_include is defined %}
      {% if job_data.with.matrix_include == '[]' %}
      matrix_include: "{{ job_data.with.matrix_include }}"
      {% else %}
      matrix_include: >-
        [
{% set matrix_include = job_data.with.matrix_include | from_yaml | default('[]') %}
{% for item in matrix_include %}
          {
            "ansible-version": "{{ item['ansible-version'] }}"{% if item['python-version'] is defined %},
            "python-version": "{{ item['python-version'] }}"
          {% else %}

          {% endif %}
          }{% if not loop.last %},
          {% else %}

    {% endif %}
  {% endfor %}
        ]
      {% endif %}
      {% endif %}
      {% if job_data.with.matrix_exclude is defined %}
      {% if job_data.with.matrix_exclude == '[]' %}
      matrix_exclude: "{{ job_data.with.matrix_exclude }}"
      {% else %}
      matrix_exclude: >-
        [
{% set matrix_exclude = job_data.with.matrix_exclude | from_yaml | default('[]') %}
{% for item in matrix_exclude %}
          {
            "ansible-version": "{{ item['ansible-version'] }}"{% if item['python-version'] is defined %},
            "python-version": "{{ item['python-version'] }}"
          {% else %}

          {% endif %}
          }{% if not loop.last %},
          {% else %}

    {% endif %}
  {% endfor %}
        ]
  {% endif %}
  {% endif %}
{% endfor %}

